<div class="row mt-3">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-1">Register</h1>
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name*</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
          <label for="password">Password*</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password*</label>
          <input type="password" class="form-control" name="confirmPassword" placeholder="Enter Password Again" id="confirmPassword" required>
        </div>
        <button type="submit" class="btn btn-outline-dark btn-block">Register</button>
        <a href="/auth/facebook" class="btn btn-outline-dark btn-block">Register with Facebook</a>
      </form>
      <p class="lead mt-2">
        Have an Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</div>